@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
box-sizing: border-box;
font-size: 16px;
height: 100vh;
}
*, *:before, *:after {
box-sizing: inherit;
font-family: 'Poppins', sans-serif;
font-weight: 400;
box-sizing: inherit;
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: none !important;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
}
ol, ul {
list-style: none;
}
img {
max-width: 100%;
height: auto;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(22, 22, 22, 1);
}

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.back {
  position: absolute;
  left: 5px;
  width: 70px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-a {
  height: 100%;
  width: 100%;
}

.btn-back {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  color: #0088cc;
}

.balance {
  width: 90px;
  height: 90%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: #ffffff;
}

.balance::before {
  content: '$';
  position: absolute;
  left: 0;
}

.input {
  border: none;
  border-bottom: 1px solid #000;
  background: #212124;
  outline: none;
  padding: 20px;
  color: white;
  border-radius: 6px;
}

.take {
  border: none;
  background: #0088cc;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 700px;
  width: 449px;
  position: relative;
}

.apples-container {
  width: 75%;
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.btns-apple {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0px;
  transition: bottom .3s ease;
}

.btn-apple {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: rgba(44, 44, 44, 0.5);
  border: 1px solid #ffffff20;
  cursor: pointer;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.grid-item {
  border: 1px solid #00000040;
  background: #ffffff02;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.bet-container {
  flex: 1;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.bet-container * {
  width: 90%;
  height: 50px;
  font-size: 22px;
}

.blurred-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  z-index: -1;
  opacity: 0;
  background: rgba(14, 14, 14, 0.3);
  backdrop-filter: blur(5px); 
  transition: all 1s ease;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: #333;
  border: 1px solid #ffffff20;
  border-radius: 20px;
  opacity: 1;
  pointer-events: none;
  transition: opacity 1s ease;
  font-size: 25px;
  color: white;
}

.modal.is-active {
  opacity: 1;
  pointer-events: auto;
  transition: all 1s ease;
}

.blurred-bg.is-active {
  z-index: 2;
  opacity: 1;
  display: flex;
  transition: all 1s ease;
}